SphereProcurement/packages
SphereProcurement/.vs
SphereProcurement/SphereProcurement/bin
SphereProcurement/SphereProcurement/obj
SphereProcurement/SphereProcurement.Tests/bin
SphereProcurement/SphereProcurement.Tests/obj
